version: "3.7"

services:
    database:
        image: postgres:9.6
        container_name: database_probable
        restart: always
        ports:
            - 5432:5432
        environment:
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
            - POSTGRES_DB=postgres
        volumes:
            -  pgdata:/data/postgres
        network_mode: host


    app:
        build: .
        container_name: probable
        ports:
            - 3333:3333
        volumes:
            - .:/usr/app
        network_mode: host

volumes:
    pgdata:
        driver: local